// Fonts
// fonts base

$font-family: 'Roboto', sans-serif;

$font-size-base: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$font-size-extra: 30px;

// font-weight

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-extra: 900;

// Colors

$color-main-text: #000000;
$color-header-text: #ffffff;
$color-footer-text: #545454;
$color-second-text: #ff6b08;
$color-accent: #ff6b08;

$color-main-title: #ffffff;

$color-background: #ffffff;
