<div class="cinema-modal-overlay is-hidden">
  <div class="modal modal__cinema">
    <svg class="modal-icon-close" width="25" height="25">
      <use href="./images/icons.svg#close"></use>
    </svg>

    <div class="cinema-card">  
        <img class="poster" src="" alt="cinema_poster" width="240" height="356">
        
        <div class="description-container">
            <h1 class="cinema-title">TITLE</h1>
            
            <div class="ratings-container">
                <div class="ratings">
                    <p class="ratings-name">Vote / Votes <span class="votes-value">10/10</span> </p>
                    <p class="ratings-name">Popularity <span class="popularity-value">10</span> </p>
                    <p class="ratings-name">Original Title <span class="title-value">title</span> Title </p>
                    <p class="ratings-name">Genre <span class="ganre-value">title</span> </p>
                </div>
            </div>

            <div class="about">
                <h2 class="about-title">TITLE</h2>
                <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat amet maxime est, inventore et officia nisi obcaecati accusantium! Suscipit facilis itaque voluptatem laudantium ipsam aut at amet reprehenderit! Doloremque, iure.</p>
            </div>

            <div class="modal-buttons-container">
                <button class="modal-button button-watched">ADD TO WATCHED</button>
                <button class="modal-button">ADD TO QUEUE</button>
            </div>
        </div>
    </div>
  </div>
</div>