<footer class="page-footer">
    <div class="container footer-container">
        <p class="footer-item-text">© 2020 | All Rights Reserved | </p>
        <p class="footer-item-span"> Developed with
            <span class="heart">
                <svg class="heart-icon" width="14" height="13">
                    <use href="../images/icons.svg#heart"></use>
                </svg>
            </span> by <span footer-modal-open class="footer-link">GoIT Students</span>
        </p>
    </div>
</footer>


