<main class="container container-cards">
    <h1 class="visually-hidden">List of films</h1>
    <ul class="card-list list">
        <li class="list card-item">
            <a href="" class="link"></a>
            <div class="image_thumb">
                <source srcset="./images/desktop.jpg" media="(min-width:1024px)">
                <source srcset="./images/tablet.jpg" media="(min-width:768px)">
                <source srcset="./images/mobile.jpg" media="(min-width:320px)">
                <img src="./images/mobile.jpg" alt="GREYHOUND">
            </div>
            <div class="content">
                <h2 class="content_title">GREYHOUND</h2>
                <p class="content_text">Drama, Action | 2020</p>
            </div>
        </li>
        <li class="list card-item">
            <a href="" class="link"></a>
            <div class="image_thumb">
                <source srcset="./images/desktop.jpg" media="(min-width:1024px)">
                <source srcset="./images/tablet.jpg" media="(min-width:768px)">
                <source srcset="./images/mobile.jpg" media="(min-width:320px)">
                <img src="./images/mobile.jpg" alt="GREYHOUND">
            </div>
            <div class="content">
                <h2 class="content_title">GREYHOUND</h2>
                <p class="content_text">Drama, Action | 2020</p>
            </div>
        </li>
        <li class="list card-item">
            <a href="" class="link"></a>
            <div class="image_thumb">
                <source srcset="./images/desktop.jpg" media="(min-width:1024px)">
                <source srcset="./images/tablet.jpg" media="(min-width:768px)">
                <source srcset="./images/mobile.jpg" media="(min-width:320px)">
                <img src="./images/mobile.jpg" alt="GREYHOUND">
            </div>
            <div class="content">
                <h2 class="content_title">GREYHOUND</h2>
                <p class="content_text">Drama, Action | 2020</p>
            </div>
        </li>
        <li class="list card-item">
            <a href="" class="link"></a>
            <div class="image_thumb">
                <source srcset="./images/desktop.jpg" media="(min-width:1024px)">
                <source srcset="./images/tablet.jpg" media="(min-width:768px)">
                <source srcset="./images/mobile.jpg" media="(min-width:320px)">
                <img src="./images/mobile.jpg" alt="GREYHOUND">
            </div>
            <div class="content">
                <h2 class="content_title">GREYHOUND</h2>
                <p class="content_text">Drama, Action | 2020</p>
            </div>
        </li>
        <li class="list card-item">
            <a href="" class="link"></a>
            <div class="image_thumb">
                <source srcset="./images/desktop.jpg" media="(min-width:1024px)">
                <source srcset="./images/tablet.jpg" media="(min-width:768px)">
                <source srcset="./images/mobile.jpg" media="(min-width:320px)">
                <img src="./images/mobile.jpg" alt="GREYHOUND">
            </div>
            <div class="content">
                <h2 class="content_title">GREYHOUND</h2>
                <p class="content_text">Drama, Action | 2020</p>
            </div>
        </li>
    </ul>
</main>