<header class="page-header">
  <div class="container library-page-header__container">
    <div class="menu">
      <a href="/" class="logo link">
        <img
          alt=""
          src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5LjgyIDJINC4xOEEyLjE4IDIuMTggMCAwIDAgMiA0LjE4djE1LjY0QTIuMTggMi4xOCAwIDAgMCA0LjE4IDIyaDE1LjY0QTIuMTggMi4xOCAwIDAgMCAyMiAxOS44MlY0LjE4QTIuMTggMi4xOCAwIDAgMCAxOS44MiAyWk03IDJ2MjBNMTcgMnYyME0yIDEyaDIwTTIgN2g1TTIgMTdoNU0xNyAxN2g1TTE3IDdoNSIgc3Ryb2tlPSIjODE4MTgxIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg=="
        />
        <span class="logo_label">Filmoteka</span>
      </a>
      <ul class="menu__list list">
        <li class="menu__list-item">
          <a href="" class="menu__list-link menu__list-link--home link">Home</a>
        </li>
        <li class="menu__list-item">
          <a href="" class="menu__list-link menu__list-link--current link">My library</a>
        </li>
      </ul>
    </div>
    <div class="btn-box">
      <button class="library-btn">Watched</button>
      <button class="library-btn">Queue</button>
    </div>
  </div>
</header>
